.register {
    height: 100vh;

    .card {
        margin: 40px auto;
        width: 80%;
        border-radius: 15px;
        display: flex;
        flex-direction: row-reverse;
        background-color: #fff;
        min-height: 700px;
        overflow: hidden;

        .left {
            flex: 2;
            background: linear-gradient(
                    rgba(39, 11, 96, 0.5),
                    rgba(39, 11, 96, 0.5)
                ),
                url("https://images.unsplash.com/photo-1631624215749-b10b3dd7bca7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1587&q=80")
                    center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: #fff;
            align-items: center;

            h1 {
                font-size: 35px;
                line-height: 35px;
                margin: 0;
                text-align: center;
            }
            p {
                font-size: 18px;
                margin: 0;
                flex: 1;
            }
            span {
                font-size: 18px;
                text-align: center;
            }
            .button {
                display: block;
                text-decoration: none;
                text-align: center;
                width: 50%;
                padding: 10px;
                border: none;
                background-color: #938eef;
                color: white;
                cursor: pointer;
                font-weight: bold;
            }
        }

        .right {
            flex: 1;
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;
            align-items: center;

            h1 {
                margin: 0;
                font-size: 2rem;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 100%;

                input {
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px;
                }

                .button {
                    display: block;
                    text-decoration: none;
                    text-align: center;
                    width: 100%;
                    padding: 10px 0px;
                    border: none;
                    background-color: #938eef;
                    color: white;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
        }
        @media (max-width: 770px) {
            .right {
                gap: 20px;
            }
        }
    }
    @media (max-width: 770px) {
        .card {
            flex-direction: column;
        }
    }
}
