.button {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 50%;
    padding: 10px;
    border: none;
    background-color: rgb(33 150 243 / 70%);
    color: white;
    cursor: pointer;
    font-weight: bold;
}
